:root{
    --insertCodeTopGap : 50px,
}
#modalBody.insertCode{
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 0;
    z-index: 18;

    height: 100%;
    width: 100%;

    background-color: var(--modalBodyColor);
    opacity: 0.2;
}
#modal.insertCode{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
  
    margin: auto;
    margin-top: 100px;

    padding: 20px;
    padding-top: 8px;
    padding-left: 15px;

    border-radius: 5px;
  
    height: calc(100% - 150px);
    width: calc(100% - 100px);

    background-color: var(--backgroundColorMain);

    display: flex;
    flex-direction: column;

    box-shadow: 1px 1px 4px 1px var(--colorShadowBoxRouter), 
    -1px -1px 4px 1px var(--colorShadowBoxRouter)
}
#modal.insertCode div#mes{
    margin-top: 8px;
    font-size: var(--fontSizeTitles);
    line-height: 30px;
}
#modal.insertCode button{
    padding: 9px 30px 9px 30px;

    font-size: var(--fontSizeBasic);

    border: none;
    border-radius: 5px;

    color: var(--backgroundColorMain);
    font-weight: 600;
    background: var(--buttonCreateBackgroundColor);
    transition: all 0.3s;
    border: 1px solid var(--colorShadowBox);

    box-shadow: 2px 2px 0.5em 0.01em var(--colorShadowBox);
}
#modal.insertCode button:hover{
    color: var(--buttonCreateBackgroundColor);
    background: var(--backgroundColorMain);
    border: 1px solid var(--buttonCreateBackgroundColor);
}

#modal.insertCode #buttonCont{
    display: flex;
    flex-direction: row;
    margin-top: auto;
}
#modal.insertCode #buttonCont #insert{
    margin-left: auto;
}
/*Code Insertion*/
#modal.insertCode p{
    margin-left: 20px;
    font-size:var(--fontSizeTitles);
}
#modal.insertCode #dividingLine{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 13px;
    margin-right: 8px;
    width: auto;
    height: 1.2px;
    border-radius: 15px;
    background: var(--dividingLine);
}
#modal.insertCode textarea{
    width: calc(100% - 40px);
    margin-left: 13px;
    margin-top: 5px;
    padding: 9px;
    height: calc(100% - 70px);
    border-radius: 3px;
    resize: none;
    background-color: var(--isertTextareaBackground);
}
#modal.insertCode textarea.err{
    border: 1px solid var(--inputBorderErr);
    background-color: var(--inputBackgroundErr);
    outline: none;
}
#modal.insertCode textarea::-webkit-scrollbar{      /*scrollbar*/
    display: block;
    width: 16px;
}
#modal.insertCode textarea::-webkit-scrollbar-track{
    background-color: none;
    width: 0px;
}
#modal.insertCode textarea::-webkit-scrollbar-thumb{
    background-color: var(--scrollbarThumbColor);
    min-height: 60px;
    border-radius: 5px;
    border: 4px solid var(--isertTextareaBackground);
    background-clip: padding-box;
}
#modal.insertCode textarea.err::-webkit-scrollbar-thumb{
    border: 4px solid var(--inputBackgroundErr);
}
#modal.insertCode textarea::-webkit-scrollbar-thumb:active{
    background-color: var(--scrollbarThumbColorActive);
    width: 5px;
}
#modal.insertCode textarea::-webkit-scrollbar:horizontal{
    display: none;
}
#modal.insertCode textarea:focus{
    outline: 1px solid var(--fontColorMain);
}
/*errMes*/
#modal.insertCode #errMes{
    margin-top: 7px;
    color : var(--inputBorderErr);
    margin-left: 20px;
    font-weight: 500;
}
#modal.insertCode #errMes #mes{
    text-decoration: underline;
    font-weight: 400;

}

