/* Coolors Exported Palette - https://coolors.co/1b0e61-ead77d-6cd2c8-cb2e5d-6e1f61 */

/* CSS HEX */
--federal-blue: #1b0e61ff;
--flax: #ead77dff;
--tiffany-blue: #6cd2c8ff;
--rose-red: #cb2e5dff;
--byzantium: #6e1f61ff;

/* CSS HSL */
--federal-blue: hsla(249, 75%, 22%, 1);
--flax: hsla(50, 72%, 70%, 1);
--tiffany-blue: hsla(174, 53%, 62%, 1);
--rose-red: hsla(342, 63%, 49%, 1);
--byzantium: hsla(310, 56%, 28%, 1);

/* SCSS HEX */
$federal-blue: #1b0e61ff;
$flax: #ead77dff;
$tiffany-blue: #6cd2c8ff;
$rose-red: #cb2e5dff;
$byzantium: #6e1f61ff;

/* SCSS HSL */
$federal-blue: hsla(249, 75%, 22%, 1);
$flax: hsla(50, 72%, 70%, 1);
$tiffany-blue: hsla(174, 53%, 62%, 1);
$rose-red: hsla(342, 63%, 49%, 1);
$byzantium: hsla(310, 56%, 28%, 1);

/* SCSS RGB */
$federal-blue: rgba(27, 14, 97, 1);
$flax: rgba(234, 215, 125, 1);
$tiffany-blue: rgba(108, 210, 200, 1);
$rose-red: rgba(203, 46, 93, 1);
$byzantium: rgba(110, 31, 97, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1b0e61ff, #ead77dff, #6cd2c8ff, #cb2e5dff, #6e1f61ff);
$gradient-right: linear-gradient(90deg, #1b0e61ff, #ead77dff, #6cd2c8ff, #cb2e5dff, #6e1f61ff);
$gradient-bottom: linear-gradient(180deg, #1b0e61ff, #ead77dff, #6cd2c8ff, #cb2e5dff, #6e1f61ff);
$gradient-left: linear-gradient(270deg, #1b0e61ff, #ead77dff, #6cd2c8ff, #cb2e5dff, #6e1f61ff);
$gradient-top-right: linear-gradient(45deg, #1b0e61ff, #ead77dff, #6cd2c8ff, #cb2e5dff, #6e1f61ff);
$gradient-bottom-right: linear-gradient(135deg, #1b0e61ff, #ead77dff, #6cd2c8ff, #cb2e5dff, #6e1f61ff);
$gradient-top-left: linear-gradient(225deg, #1b0e61ff, #ead77dff, #6cd2c8ff, #cb2e5dff, #6e1f61ff);
$gradient-bottom-left: linear-gradient(315deg, #1b0e61ff, #ead77dff, #6cd2c8ff, #cb2e5dff, #6e1f61ff);
$gradient-radial: radial-gradient(#1b0e61ff, #ead77dff, #6cd2c8ff, #cb2e5dff, #6e1f61ff);